<%- include('header') %>

  <h1>Objects Listing</h1>

  <table class="table table-striped">
    <tr>
      <th> Name </th>
      <th> Image </td>
      <th> People </th>
      <th> See more </th>
    </tr>
        <% objects.forEach(object => { %>
    <tr>
      <td>
      <a href="/object/<%- object.objectnumber %>">
          <%- object.title %> </a>
      </td>
      <td>
        <img src=<%- object.primaryimageurl %> width=80px>
      </td>
      <td>
        <% if (object.people) { %>
          <% object.people.forEach(people => { %>
            <%- people.name %>
          <% }); %>
        <% } %>
      </td>
      <td>
        <a href="<%- object.url %>"> See More</a>
      </td>
    </tr
      <% }); %>
    </table>

  <%- include('footer') %>